.circle1 {
  background-color: #c4c4c4;
  width: 150px;
  height: 150px;
}
.shad {
  border-radius: 10px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.151);
}
@media only screen and (max-width: 768px) {
  .tas {
    margin-left: 60px;
  }

  .name {
    font-size: 20px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .tas {
    margin-left: 120px;
  }
}
@media only screen and (min-width: 900px) {
  .tas {
    margin-left: 0px;
  }
}
