.icons {
  background-color: #141b41;
  color: #fff;
  border-radius: 50%;
  border: none;
  padding: 10px;
}
.icons1 {
  background-color: #ff8900;
  color: #fff;
  border-radius: 50%;
  border: none;
  padding: 10px;
}
.icons-text {
  font-size: 14px;
  color: #141b41;
  margin-top: 5px;
}
.links-icons:hover {
  text-decoration: none;
}
.iconspace {
  margin-left: 50px;
}
.d {
  font-weight: 600;
  font-size: 24px;
}
.bordr {
  height: 9em;
  width: 9em;
  background-color: rgb(155, 153, 153);
  margin-left: 20px;
  border-radius: 20px;
}
.l {
  padding-left: 70px;
}
.lighttext {
  font-size: 15px;
}
.boldtext {
  font-weight: 600;
  font-size: 17px;
}
.sidetext {
  font-size: 11px;
}
.btn {
  background-color: #ff8900;
  color: white;
  font-size: 19px;
}
.btn:hover {
  background-color: #ff8900;
  color: white;
}
.t {
  font-weight: normal;
  font-size: 19px;
}
.hr-style {
  height: 0.5px;
  border-width: 0;
  background-color: rgb(187, 182, 182);
}
.shad {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.1);
}
.shad1 {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}
.bordrup {
  border-radius: 10px;
}
.text-style {
  font-family: "Nunito Sans";
}
.button-text {
  font-weight: 600;
}
